body {
  background-color: rgba(230, 242, 245,0.7);
  font-family: "Oswald", sans-serif;
}

h1 {
  text-align: center;
  font-family: "Oswald", sans-serif;
}

h3 {
  text-align: center;
  font-family: "Oswald", sans-serif;
}

h4 {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Oswald", sans-serif;
}

nav {
  display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    display:flex;
}

ul li a {
  display: block;
  color: rgb(0,0,0);
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
}

ul li a:hover {
  background-color: rgba(151, 159, 161, 0.4);
  font-family: "Oswald", sans-serif;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.bg-image-hero {
  background-image: url('../images/waves.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: rgba(255,255,255, 1);
}

.hero-card {
  min-height: 100vh;
  width: 100%;
  background-color: rgba(255,255,255,0.05);
  backdrop-filter: blur(3px);
  justify-content: center;
  align-items: start;
  padding-top: 40px;
}

.hero-card h1 {
  text-align: left;
  justify-content: left;
  max-width: 700px;
  font-size: 65px;
  margin-left: 40px;
}

.hero-card h3 {
  text-align: left;
  justify-content: left;
  max-width: 700px;
  font-size: 30px;
  margin-left: 40px;
}

.about-page {
  display: grid;
  margin: 30px;
  padding: 30px;
}

.project-card {
  display: flex;
  margin: 10px;
  padding: 15px;
  background-color: rgba(176, 209, 217, 0.6);
  border-radius: 15px;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.1);
}

