body {
  background-color: rgb(230, 242, 245);
}

h1 {
  text-align: center;
  font-family: "Helvetica", "Garamond";
}

h3 {
  text-align: center;
  font-family: "Helvetica", "Garamond";
}

h4 {
  font-family: "Helvetica", "Garamond";
}

p {
  font-family: "Helvetica", "Garamond";
}

nav {
  display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    display:flex;
}

ul li a {
  display: block;
  color: rgb(0,0,0);
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Helvetica", "Garamond";
}

ul li a:hover {
  background-color: rgba(166, 210, 222, 0.5);
  font-family: "Helvetica", "Garamond";
}


.background-container {
  position: absolute;
  z-index: 0;
  left:0;
  right:0;
  display:grid;
  height: 100%;
  width: 100%;
  background-image: url('waves.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.project-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.home-item {
  margin: 20px;
  padding: 5px;
  background-color: rgba(198, 205, 207, 0.5);
  border-radius: 15px;
  text-align: center;
}

.about-page {
  margin: 10px;
  padding: 15px;
}

.project-item {
  margin: 10px;
  padding: 15px;
  background-color: rgba(198, 205, 207, 0.5);
  border-radius: 15px;
}

.spotify-item {
  margin: 10px;
  padding: 15px;
  background-color: rgba(198, 205, 207, 0.5);
  border-radius: 15px;
}