body {
  background-color: rgb(242, 232, 213);
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

nav {
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
}

ul li a {
  display: block;
  color: rgb(0,0,0);
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: rgb(181, 179, 179)
}

.project-container {
  display:flex;
  justify-content: space-around;
}

.item {
  background-color: rgb(242, 232, 213);
  flex: 1;
  padding: 5px;
  margin: 5px;
}