{% extends "base.html" %}

{% block title %}About Me{% endblock title %}

{% block head %}<h1>Hey, I'm Tiffany! </h1>{% endblock head %}

{% block body %}
<p>I created this website to share some of the coding projects I've worked on and also just a bit about me and my life.
</p>
<p> My goal in life is to be a lifelong learner. I've always been very interested in the natural and social sciences, particularly areas that integrate both areas. My interests include human biology, nutrition and exercise science, biochemistry,
    public health, geography, and evolutionary biology. I really love learning about how humans, living systems, and the world work, and how they all interact with eachother.
    This is what led me to start solo travelling a few years ago, to learn more about myself, other people, and the world. In the past 1.5 years I've solo travelled to Japan, Portugal, and Spain, with an upcoming solo trip planned for Austria, 
    Germany, and Switzerland. I've also started to read again a few years ago. I loved reading when I was a kid, and I feel that it was something that 
    I gradually stopped doing over time. Reading is such a great way to exercise the mind and to improve yourself as an individual. It makes you more empathetic and understanding of others, and can teach you so much about people and the world 
    in a different way from travelling. I find that its helped me discover more about the way I want to lead my life, as someone who is finding their way in their 20's. My taste in books definitely have shifted over time. Over the past year, 
    I've been reading a mix of memoirs (of astronauts), non-fiction books about the sciences, and fantasy and sci-fi. Feel free to check out my <a href="https://www.goodreads.com/user/show/192331074-tiffany-ng">Goodreads</a> to see what I've read recently. 
</p>
<p> I also enjoy staying active whether it be going on hikes (some of which are more like nature walks), playing basketball, or lifting weights at the gym (okay I don't always love this, but sometimes I do).
    Exercise feels like flipping a switch, my energy levels go up drastically once I do it and it completely lifts up my mood. 
    This year, I'm thinking of picking up a new form of exercise to do consistently. I'm not sure in what form yet, but it'll happen. 
</p>
<p>
    I started doing more coding projects recently, partly because its an important skillset to have nowadays with the prevalence of technology in our lives,
    but also as a way to apply my creativity. I've always felt that I have a creative mind, and want to work on harnessing that creativity more. I've focused primarily
    on building fullstack applications since I really feel it allows me to bring my ideas into a visual form. The projects I have shared on this page are my Earthquake Tracker,
    Reimagined Spotify Artist Explore Page, and my NASA Image Repository Page. Personally, the one I'm most proud of is the Reimagined Spotify Page since I really feel that I was 
    able to use pretty open-ended data (artists, albums, and tracks data) and build it into a page that encourages an album-focused approach to exploring an artist's discography.
    I really feel that I was able to build something unique and something that feels like "me", as someone who is more of an album listener than a playlist listener.
</p>
<p>
    I'm hoping that this website will continue to evolve, as I build more projects and life experiences.
</p>
{% endblock body %}