{% extends "base.html" %}

{% block title %}About Me{% endblock title %}

{% block body %}
<div class="container about-page">
    <h1 class="text-start mb-3">A Quick Introduction</h1>
    <p>
        I've always felt that I have a creative mind, and wanted to learn programming as a way to apply my creativity. 
        The projects on this page are created using Python and range from games to data visualization tools, all of which have been instrumental in developing my programming skills.
        I'm currently proficient in using the Python frameworks Flask, Plotly Dash, and Pygame, as well as data focused libraries including pandas, Matplotlib, and NumPy. 
    </p>
    <p>
        Some of my other hobbies and interests include reading books about science, 
        weight training, hiking, trying new restaurants, solo travel, and basketball. 
    </p>
    <p>
        This website will continue to be updated as I build more projects!
    </p>
</div>
{% endblock body %}