<!DOCTYPE html>

<html lang="en">
<head>
    <title>{% block title %} Home {% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
    <nav>
        <ul>
            <li> <a href="/"> Home </a> </li>
            <li> <a href="/about"> About Me </a> </li>
            <li> <a href="https://github.com/tiffanyng23" target="_blank"> GitHub </a></li>
            <li><a href="/spotify-explore"> Spotify Explore Page</a></li>
            <li><a href="earthquake-tracker"> Earthquake Tracker </a></li>
            <li><a href="nasa-images"> NASA Images Repository </a></li>
            <li> <a href="/contact"> Contact Information </a> </li>
        </ul>
    </nav>
    {% block head %}
        <h1> Personal Website </h1>
    {% endblock head %}
    {% block body %}
        <p>Content will be available here</p>
    {% endblock body %}

</body>

</html>