{% extends "base.html" %}

{% block body %}
<div class="background-container">
    <div class="project-container">
        <div class="home-item">
            <a href="/spotify-explore"><h3>Spotify Artist Explore Page</h3></a>
            <p> 
                A reimagined Spotify Artist Page created to encourage deeper and more album-based exploration of an 
                artist's discography.
            </p>
        </div>
        <div class="home-item">
            <a href="/earthquake-tracker"><h3>Earthquake Tracker Dashboard</h3></a>
            <p> 
                A global earthquake tracker that provides real-time updates on earthquakes, featuring a live earthquake counter 
                and data visualizations depicting occurences to allow for user-driven analysis of earthquake events.
            </p>
        </div>
        <div class="home-item">
            <a href="/nasa-images"><h3>NASA Image Repository</h3></a>
            <p> 
                A webpage that features NASA-released images of Earth taken from space, NASA's astronomy picture of the day, 
                and a map displaying real-time occurences of various natural events. 
            </p>
        </div>
    </div>
</div>


{% endblock body %}