{% extends "base.html" %}

{% block title %} Project Portfolio {% endblock title %}

{% block body %}
<div class="container mt-4">
    <h1 class="text-center mb-3"> Project Porfolio </h1>
    <div class="row g-3">
        <div class="col-6 mt-2 mb-2">
            <div class="card h-100 project-card">
                <h2 class="card-title text-center">Spotify Artist Discovery Page</h2>
                <h6 class="card-subtitle text-center">Plotly Dash</h6>
                <img src="/static/images/spotify.png" class="card-img-top card-img-bottom mt-2 mb-2" alt="Project img">
                <div class="card-body">
                    <p class="card-text">
                        An artist discovery page that integrates artist data from Spotify's Web API to create a page used to explore the music discography of a new artist. 
                        From this project, I was able to integrate my album-based listening approach with displaying tracks dynamically based on Spotify popularity value.
                    </p>
                    <a href="https://spotify-app.fly.dev" target="_blank" class="card-link">Project Hosted on Fly.io</a>
                    <a href="https://github.com/tiffanyng23/spotify-app" target="_blank" class="card-link">More Information on GitHub</a>
                </div>
            </div>
        </div>
        <div class="col-6 mt-2 mb-2">
            <div class="card h-100 project-card">
                <h2 class="card-title text-center">Earthquake Tracker</h2>
                <h6 class="card-subtitle text-center">Plotly Dash</h6>
                <img src="/static/images/earthquake.png" class="card-img-top card-img-bottom mt-2 mb-2" alt="Project img">
                <div class="card-body">
                     <p class="card-text">
                        A global earthquake tracker dashboard that integrates the USGS Earthquake API to provide near real-time updates on earthquake events. 
                        The dashboard features an earthquake counter and a side panel that allows for customization of time window, magnitude, and depth
                        for 3 data visualization tools (scatter plot, scatter map, and data table). The goal of this project was to create a resource that depicts up-to-date earthquake data in 
                        an accessible and insightful way. 
                    </p>
                    <a href="https://earthquake-tracker-app.fly.dev" target="_blank" class="card-link">Project Hosted on Fly.io</a>
                    <a href="https://github.com/tiffanyng23/earthquake-tracker" target="_blank" class="card-link">More Information on GitHub</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2 mb-2 g-3">
        <div class="col-6 mt-2 mb-2">
            <div class="card h-100 project-card">
                <h2 class="card-title text-center">NASA Image Repository</h2>
                <h6 class="card-text text-center">Flask</h6>
                <img src="/static/images/nasa.png" class="card-img-top card-img-bottom mt-2 mb-2" alt="Project img">
                <div class="card-body">
                     <p class="card-text">
                        A webpage that features NASA-released images of Earth taken from space, NASA's astronomy picture of the day (APOD), 
                        and a map displaying real-time occurences of various natural events (specifically volcanic eruptions, wildfires, and severe storms). 
                        This aim of this project was to create a page to explore some NASA-released information and images.
                    </p>
                    <a href="https://nasa-released-imgs.fly.dev/" class="card-link" target="_blank">Project Hosted on Fly.io</a>
                    <a href="https://github.com/tiffanyng23/nasa-app" class="card-link" target="_blank">More Information on GitHub</a>
                </div>
            </div>
        </div>
        <div class="col-6 mt-2 mb-2">
            <div class="card h-100 project-card">
                <h2 class="card-title text-center">Wordle with a Twist</h2>
                <h6 class="card-text text-center">Pygame</h6>
                <img src="/static/images/wordle.png" class="card-img-top card-img-bottom mt-2 mb-2" alt="Project img">
                <div class="card-body">
                     <p class="card-text">
                        A twist on NYT's Wordle game. Same rules apply except players can progress through 4 levels, with the solvable word in each level increasing in length by 1 letter. 
                    </p>
                    <a href="https://github.com/tiffanyng23/wordle-dupe" class="card-link" target="_blank">More Information on GitHub</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-5 g-3">
        <div class="col-6 mt-2 mb-2">
            <div class="card h-100 project-card">
                <h2 class="card-title text-center">Fruit Salad Game</h2>
                <h6 class="card-text text-center">Pygame</h6>
                <img src="/static/images/fruit.png" class="card-img-top card-img-bottom mt-2 mb-2" alt="Project img">
                <div class="card-body">
                     <p class="card-text">
                        Inspired by Fruit Ninja. Players have 60 seconds to click on the correct fruits that are falling down the screen to create a fruit salad. 
                        The correct fruits are randomnly selected for each game and displayed on the top of the screen. 
                    </p>
                    <a href="https://github.com/tiffanyng23/fruit-ninja-dupe" class="card-link" target="_blank">More Information on GitHub</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}